@use "../../styles/partials/typography" as *;
@use "../../styles/partials/mixin" as *;
@use "../../styles/partials/variables" as *;



.signup {
    &__heading {
        margin-top: 2rem;
        margin-right: 1rem;
        padding-right: 2.7rem;
        font-family: "Poppins", sans-serif;
        font-size: 3.0rem;
        color: $white;
        display: flex;
        flex-direction: row-reverse;
    }

    &__form {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 3rem 4rem;
        border: 2px solid rgba(82, 86, 97, 0.75);
        border-radius: 8px;
        backdrop-filter: blur(100px);
        box-shadow: 0 0 30px rgba(0, 0, 0, .25);
    }

    &__container {
        position: relative;
        margin: 0.75rem 1rem;
    }

    &__container-first {
        margin-top: 2rem;
    }

    &__label {
        position: absolute;
        left: 2rem;
        top: 1rem;
        color: black;
        cursor: text;
        transition: top 200ms ease-in,
            left 200ms ease-in,
            font-size 200ms ease-in;
        background-color: rgba(201, 238, 247, 1);
        backdrop-filter: blur(10px);
        &--first{
            background-color: rgba(186, 231, 240, 1);
        }
        &--last{
            background-color: rgba(186, 223, 234, 1);
        }
        &--email{
            background-color: rgba(171, 219, 234, 1);
        }
        &--phone {
            background-color: rgba(168, 216, 231, 1);
        }
        &--password{
            background-color: rgba(161, 218, 229, 1);
        }
    }

    &__input {
        overflow: hidden;
        padding: 1rem;
        width: 100%;
        padding: 0.625rem;
        box-sizing: border-box;
        border: 2px solid rgb(252, 253, 254);
        font-family: inherit;
        border-radius: 24px;
        outline: none;
        background: none;
        font-size: 1.2rem;

        &:hover {
            border-color: $darkblue;
        }

        &:focus {
            border-color: $orange;
        }
    }

    &__show-password {
        position: absolute;
        right: 0.5rem;
        top: 0.65rem;
        background: none;
        border: none;
        color: $darkblue;
        font-size: .05rem;
        cursor: pointer;
    }

    &__button {
        width: 12rem;
        padding: 0.25rem;
        box-sizing: border-box;
        border: 2px solid $ice;
        font-family: inherit;
        border-radius: 24px;
        outline: none;
        background: $ice;
        font-size: 1.5rem;
        color: $white;
        margin: 1rem;
    }

}

.signup__input:focus~.signup__label,
.signup__input:not(:placeholder-shown)~.signup__label {
    top: -0.5rem;
    font-size: 0.8rem;
    left: 1.5rem;
}