@use "../../styles/partials/typography" as *;
@use "../../styles/partials/mixin" as *;
@use "../../styles/partials/variables" as *;

.tasks {
    backdrop-filter: blur(100px);
    &__title {
        font-size: 3rem;
        text-align: -moz-center;
        text-align: -webkit-center;
        margin: 0rem;
    }

    &__lists {
        display: flex;
        flex-direction: column;
        margin-right: 2rem;
    }

    &__lists-item {
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        border: 2px solid rgba(82, 86, 97, 0.75);
        border-radius: 20px;
        margin: 1rem;
        margin-top: 2rem;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
        background-color: $white;
        list-style-type: none;
    }
&__title-name{
    font-size: 1.6rem;
}
&__title-definiton{
    font-size: 1.2rem;
    margin-bottom: 0rem;
    font-weight: 500;
}
}