@use "../../styles/partials/typography" as *;
@use "../../styles/partials/mixin" as *;
@use "../../styles/partials/variables" as *;

.homepage {
    backdrop-filter: blur(100px);
    &__bottom-container{
        display: flex;
        padding-bottom: 2rem;
        justify-content: center;
    }
}