@use "../../styles/partials/typography" as *;
@use "../../styles/partials/mixin" as *;
@use "../../styles/partials/variables" as *;

html,
body {
    height: 100%;
    margin: 0;
}

.new-task {
    &__container {
        min-height: 100vh;
        margin-top: 3rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__heading {
        font-family: "Poppins", sans-serif;
        font-size: 3.0rem;
        color: $black;
        margin: 0rem;
    }

    &__form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__label {
        font-size: 1.4rem;
        font-weight: 700;
        color: black;
        backdrop-filter: blur(10px);
    }

    &__label-conatiner {
        padding-right: 8rem;
        display: flex;
        align-items: center;
        width: 16rem;
        justify-content: center;
        flex-direction: row;
        margin: 1rem;
    }

    &__label-title {
        margin-left: 3rem;
    }

    &__label-importance{
        margin-right: 0.5rem;
    }

    &__input {
        overflow: hidden;
        margin: 0.75rem;
        width: 17rem;
        padding: 0.625rem;
        box-sizing: border-box;
        border: 2px solid $ice;
        font-family: inherit;
        border-radius: 10px;
        outline: none;
        background: none;
        font-size: 1.2rem;
        margin-right: 0.4rem;

        &:hover {
            border-color: $darkblue;
        }

        &:focus {
            border-color: $orange;
        }
    }

    &__textarea-container {
        display: flex;
        align-items: center;
    }

    &__textarea {
        overflow: hidden;
        margin: 0.75rem;
        width: 17rem;
        padding: 0.625rem;
        box-sizing: border-box;
        border: 2px solid $ice;
        font-family: inherit;
        border-radius: 12px;
        outline: none;
        background: none;
        font-size: 1.2rem;
        height: 8rem;
        resize: none;
        margin-left: 7.4rem;
    }

    &__select {
        border: 2px solid $ice;
        border-radius: 10px;
        height: 3rem;
        width: 17rem;
        font-size: 1.5rem;
        padding-left: 6rem;
        background: none;
        margin-left: 0rem;
        margin-right: -2rem;
    }

    &__label-date {
        width: 10rem;
    }

    &__button {
        width: 12rem;
        padding: 0.25rem;
        box-sizing: border-box;
        border: 2px solid $ice;
        font-family: inherit;
        border-radius: 24px;
        outline: none;
        background: $ice;
        font-size: 1.5rem;
        color: $white;
        margin: 1rem;
    }
}

::placeholder {
    color: $black;
    opacity: 1;
}